div {
  display: block;
  width: 100%;
  max-width: 680px;
  text-align: justify;
  margin: 20px;
}
.page-area {
  max-width: 768px;
  display: inline-block;
}
main {
  padding: 40px;
  width: 100%;
}
