<main>
<h1>Budget Well, Save More</h1>
<h1>What is a Budget, Exactly?</h1>

<div class = "page-area">
  A monthly budget is a plan for how you will allocate income to meet your expenses for a designated month.
  Some think of budgets as spending constraints, but budgets are better described as “spending plans”.
  If you budget correctly you will be able to spend money on things you enjoy without worrying about meeting
  other financial obligations, overdrawing your accounts, or going into credit card debt.
</div>
</main>
